.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  margin-bottom: 2%;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: white;
  height: 60px;
  display: flex;
}

.reddit {
  margin: 5px 3px 0px 0px;
}

